// Banners
.banner {
  display: block;
  position: relative;
  margin-bottom: 3.4rem;
  background-color: #ccc;

  &.banner-cat {
    align-items: flex-end;
    height: 320px;
    margin-bottom: 0;
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  
  &.banner-boxed {
    height: 300px;
    align-items: center;
  }
  
  &.banner-cat, &.banner-boxed {
    display: flex;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  > a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
  }

  .banner-content {
    display: inline-block;
    padding-left: 1.5rem;
  }

  .banner-title {
    color: #161616;
    font: 800 2.6rem/1.1 $font-family;
    margin-bottom: 2.2rem;
    letter-spacing: -.025rem;
    text-transform: uppercase;
  }

  .banner-subtitle {
    color: #161616;
    font: 300 1.8rem/1.1 $second-font-family;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: .5rem;

    span {
      font-weight: 700;
      font-size: 2rem;
      font-family: $second-font-family;
    }
  }

  .btn {
    min-width: 100px;
    padding: 1.1rem 1rem;
    border-radius: 0;
  }
}

.banner-image {
  > a {
    position: relative;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all .3s ease;
      background-color: rgba(0, 0, 0, .2);
      content: '';
      opacity: 0;
      visibility: hidden;
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@include mq('md') {
  .banner {
    &.banner-cat {
      height: 370px;
      padding-bottom: 5rem;
    }
    .banner-title {
      font-size: 3rem;
      margin-bottom: 3.2rem;
    }

    .banner-subtitle {
      font-size: 2.2rem;

      span {
        font-size: 2.4rem;
      }
    }
  }
}

@include mq('lg') {
  .banner {
    &.banner-cat {
      height: 430px;
      padding-bottom: 9rem;
    }
    .banner-title {
      font-size: 3.4rem;
      margin-bottom: 4.2rem;
    }

    .banner-subtitle {
      font-size: 2.4rem;

      span {
        font-size: 2.6rem;
      }
    }
  }
}