#server

jasper.dir=/home/simral/public_html/lived/jasper
out.dir=/home/simral/public_html/lived/tmp
db.driver=com.mysql.jdbc.Driver
db.connect=jdbc:mysql://127.0.0.1/sikd_2020_data
db.user=sikd
db.password=www212

#lokal

#jasper.dir=E:\\HTDOCS\\lived\\jasper
#out.dir=E:\\HTDOCS\\lived\\jasper\tmp
#db.driver=com.mysql.jdbc.Driver
#db.connect=jdbc:mysql://127.0.0.1/simral_data
#db.user=root
#db.password=

locale.lang=id
locale.country=ID